<configuration>

    <timestamp key="bySecond" datePattern="MM'.'dd'_'HH'.'mm"/>


    <appender name="NEWFILE" class="ch.qos.logback.core.FileAppender">
    <file>logs/${logback.appname:-graphmatch}.${bySecond}.log</file>

    <encoder>
      <pattern>%-5level [%date] %logger{35}: %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%-5level [%date{HH:mm:ss.SSS}] %logger{35}: %msg%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="NEWFILE" />
    <appender-ref ref="STDOUT" />
  </root>

  <logger name="org.allenai" level="DEBUG" />

</configuration>
